body {
  padding: 0;
  margin: 0;
  height: 100svh;
  display: grid;
  place-content: center;
}
* {
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 2rem;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px gray;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

input {
  padding: 0.5rem;
}

.avatar {
  /* border: 2px solid red; */
  width: 130px;
  height: 130px;
  margin: auto;
  position: relative;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px black;
}


.avatar img {
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  align-self: center;
  /* scale: 1.5; */
  display: grid;
  place-content: center;
  object-fit: cover;
  
}

.avatar input[type="file"] {
  position: absolute;
  top: -1000px;
}

.avatar span {
  position: absolute;
  padding: .5em;
  bottom: 0;
  /* border: 2px solid red; */
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(205, 205, 205, 0.557);
}
