body {
  padding: 0;
  margin: 0;
  height: 100svh;
  display: grid;
  place-content: center;
}
*{
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 2rem;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px gray;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

input {
  padding: 0.5rem;

}
